.header__lang-list {
  display: flex;
  align-items: flex-end;
  gap: 18px;
  margin: 0;
  padding: 0 0 6px;
  list-style: none;
}

@media screen and (max-width: 320px) {
  .header__lang-list {
    padding-bottom: 8px;
  }
}
